{% load base_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block head_title %}Verese{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-theme.css' %}">
    {% block css %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Verese</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              {% if request.user.is_authenticated %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                  {{ request.user | get_name }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="{% url 'account_logout' %}">
                      Sign out
                    </a>
                  </li>
                </ul>
              {% else %}
                <a href="{% url 'account_login' %}">
                  Login
                </a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script src="{% static 'base/js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.js' %}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
