{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}Verese - Create{% endblock %}

{% block content %}
  <form id="transactionForm" method="post" action="">
    <div class="row formset">
      {% csrf_token %}
      {% for form in formset.forms %}
        <div class="formsetEntry">
          <p>
            <label>Debtor</label>
            {{ form.debtor }}
          </p>
          <p>
            <label>Debt</label>
            {{ form.debt }}
          </p>
        </div>
      {% endfor %}
      {{ formset.management_form }}
    </div>
    <div class="row">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
{% endblock %}

{% block js %}
  <script src="{% static 'base/js/jquery.formset.js' %}"></script>
  <script src="{% static 'base/js/create_transaction.js' %}"></script>
{% endblock %}
