{% extends 'base.html' %}
{% load base_tags %}

{% block head_title %}Verese - List{% endblock %}

{% block content %}
  {% if object_list %}
    <h2>Your transactions</h2>
    <ul>
      {% for transaction in object_list %}
        <li>{{ transaction.debtor|get_name }} owes {{ transaction.debt }} to {{ transaction.creditor|get_name }}</li>
      {% endfor %}
  {% else %}
      <h2>No transactions found</h2>
  {% endif %}
{% endblock %}
