{% extends 'base.html' %}
{% load base_tags %}

{% block head_title %}Verese - Details{% endblock %}

{% block content %}
  <h2> Details for transaction #{{ object.id }}</h2>
    {% ifequal request.user.pk object.debtor.pk  %}
      <p> You owe {{ object.creditor|get_name }} {{ object.debt }}</p>
    {% else %}
      <p> {{ object.creditor|get_name }} owes you {{ object.debt }}</p>
    {% endifequal %}
    <p> Transaction date: {{ object.created_on }}</p>
{% endblock %}
